---
---

@import "{{ site.theme }}";

img.logo {
  height: 24px;
  width: 24px;
  padding: 5px;
}

a:hover {
  font-weight: normal;
  text-decoration: underline;
}

img.headshot {
  max-height: 150px;
  max-width: 150px;
}
