---
---

@import "{{ site.theme }}";

img.logo {
  height: 24px;
  width: 24px;
  padding: 5px;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}

#logos a {
  text-decoration: none;
}

img.headshot {
  max-height: 200px;
}
