<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Nathan Hatch</title>

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <img class="headshot" src="/files/work-headshot.jpg" alt="headshot">

        <br>

        <a href="http://www.google.com/recaptcha/mailhide/d?k=01g4ZVrGlacC5O5zvB1h0Rtw==&amp;c=CX0OK3dC3Gp1I8mecqHM8pEZhdnEe1iRVsNMLULGgfg=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01g4ZVrGlacC5O5zvB1h0Rtw\x3d\x3d\x26c\x3dCX0OK3dC3Gp1I8mecqHM8pEZhdnEe1iRVsNMLULGgfg\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">
          <img class="logo" src="logos/mail.png" alt="mail">
        </a>
        <a href="{{ site.github.owner_url }}">
          <img class="logo" src="logos/github.png" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/nathan-hatch-348037a9">
          <img class="logo" src="logos/linkedin.png" alt="linkedin">
        </a>
        <a href="https://www.goodreads.com/user/show/52937412-nathan-hatch">
          <img class="logo" src="logos/goodreads.png" alt="goodreads">
        </a>
        <a href="http://instagram.com/nathanhatch297">
          <img class="logo" src="logos/instagram.png" alt="instagram">
        </a>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
